{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
{% include 'base/head.html' %}
    <!--Bloco de titulo-->
  <title>{% block titulo %}{% endblock %}</title>
</head>
<body>
    <!--bloco de menu-->
  {% block menu %}{% endblock %}

  <!--bloco de conteudo-->
  {% block conteudo %}

    {% endblock %}

    <!--bloco de rodape-->
  {% block rodape %}{% endblock %}


  <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src=" {% static "js/jquery.com/jquery-2.1.1.min.js" %}"></script>
    <script src=" {% static "js/materialize.js" %}"></script>
    <script src=" {% static "js/init.js" %}"></script>
    <script src=" {% static "js/init1.js" %}"></script>
    <script src=" {% static "js/live.js" %}"></script>
    <script src=" {% static "js/jQuery.js" %}"></script>
    <script src=" {% static "js/jquery-2.1.1.min.js" %}"></script>
    <script src=" {% static "js/menu.js" %}"></script>


  </body>
</html>
