{% load static from staticfiles %}
<footer class="page-footer #c2185b pink darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
            <img src="{% static 'img/logo/simbol.PNG' %}" width="43" height="48">
          <h5 class="white-text">RASPFIREWALL</h5>
          <p class="grey-text text-lighten-4">© Copyright - 2017, Página Desenvolvida por José Sergio <a href="http://www.sergiocarcara.com.br/">(www.sergiocarcara.com.br)</a></p>

            {% include 'include/rede_social.html' %}

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
</footer>