{% load static from staticfiles %}
        <a class='dropdown-button btn orange' href='#' data-activates='dropdown1'>MAIS +</a>
        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/ata/"><i class="material-icons">local_library</i>ATA</a></li>
            <li><a href="/reuniao/"><i class="material-icons">group</i>REUNIÃO</a></li>
            <li><a href="/galeriaFotos/"><i class="material-icons">add_a_photo</i>GALERIA DE FOTOS</a></li>
            <li><a href="/admin/"><i class="material-icons">supervisor_account</i>ADMIN</a></li>
            <li class="divider"></li>
        </ul>