{% load static from staticfiles %}
<!-- Modal Structure -->
  <div id="modal1-1" class="modal">
    <div class="modal-content">
      <h4>Modal Header1</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

  <div id="modal1-2" class="modal">
    <div class="modal-content">
      <h4>Modal Header2</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fecha</a>
    </div>
  </div>

  <div id="modal1-3" class="modal">
    <div class="modal-content">
      <h4>Modal Header3</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>


<!--modal o que é raspeberry-->
<div id="modalRasp" class="modal">
    <div class="modal-content">
      <h3>Saiba o que é um Raspberry Pi e para que ele serve:</h3><hr>

      <p>
        <h5>Raspberry Pi é um computador do tamanho de um cartão de crédito,
          que se conecta a um monitor de computador ou TV, e usa um teclado
          e um mouse padrão, desenvolvido no Reino Unido pela Fundação Raspberry
          Pi. Todo o hardware é integrado numa única placa. O principal objetivo é
          promover o ensino em Ciência da Computação básica em escolas.
        </h5>
      </p>

      <img src="{% static 'img/Rasberry.jpg' %}" width="400">

      <p>
        <h5>A Fundação Raspberry Pi começou a aceitar pedidos do modelo de
            US$35 a partir de 29 de fevereiro de 2012.

            É um pequeno dispositivo que permite que as pessoas de todas as
            idades possam explorar a computação para aprender a programar em
            linguagens como Python. É capaz de fazer tudo que você esperaria de
            um computador desktop, como navegar na internet, reproduzir vídeo de
            alta definição, fazer planilhas, processamento de texto, e jogar jogos.
            É usado por crianças de todo o mundo para aprender como funcionam os
            computadores, como manipular o mundo eletrônico ao redor deles, e como programar.

            Além do mais, o Raspberry Pi tem a capacidade de interagir com o mundo exterior,
            e tem sido usado em uma ampla gama de projetos fabricante digitais, de máquinas de
            música e detectores de aves para enfrentar as estações e birdhouses twittando com câmeras
            infravermelho.
        </h5>
      </p>

        <img src="{% static 'img/raspberry-pi-3.jpg' %}" width="300">

        <br><h4>O que fazer com um Raspberry Pi?</h4>

        <p>
            <h5>
                É possível instalar o sistema operacional Linux e poder usar para funções
                básicas de escritório como documentos de textos e planilhas, além de poder
                usar para navegar a internet e realizar pesquisas. Tudo que você tem que
                fazer é ligar na HDMI de seu monitor ou TV e plugar um teclado e mouse USB.

                A galera da grande comunidade internet também utiliza para diversos fins,
                como servidor de arquivos doméstico, medica centers e até videogames retrô.
            </h5>
        Fonte:http://tudosobreraspberry.info/2017/03/saiba-o-que-e-um-raspberry-pi-e-para-que-ele-serve/
        </p>

    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
    </div>
  </div>
  
  
  