{% load static from staticfiles %}
<div class="col l6 s12">
    <center>
        <article class="icone">
            <ul class="right">
             <a href="#" class="sb-icone" target="_blank" title="Facebook"><img src=" {% static 'rede/Facebook-icon.png' %} " width="40" height="40"></a>
             <a href="#" class="sb-icone" target="_blank" title="Github"><img src="{% static 'rede/Github-icon.png' %}" width="40" height="40"></a>
             <a href="#!" class="sb-icone" target="_blank" title="Skype" ><img src="{% static 'rede/Skype-icon.png' %}" width="40" height="40"></a>
             <a href="#!"  class="sb-icone" target="_blank" title="Twitter"><img src="{% static 'rede/Twitter-icon.png' %}" width="40" height="40"></a>
            </ul>
        </article>
    </center>
</div>