{% extends "base/base.html" %}

{% block titulo %}GALERIA  - FOTOS{% endblock %}


{% block menu %}
    {% include 'base/nave_base.html' %}

{% endblock %}


{% block conteudo %}
{% load staticfiles %}
{% include 'include/modal.html' %}




<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <center><h4 class="header">GALERIA DE FOTOS DO PROJETO</h4></center><hr style="border-bottom:2px solid blue">
            
            
            {% for galeria in galerias %}
               
           <h5 class="header">{{ galeria.titulo }}</a></h5>
            <div class="row">
                  
               {% for foto in galeria.fotos_da_galeria_model.all %}
                    <div class="col s2 m2">
                      <div class="card">
                        <div class="card-image">
                          <img class="materialboxed" src="{{ foto.imagen.url }}">
                        </div>
                      </div>
                    </div>
                  {% endfor %}
             </div>
               
           <h6 class="header">{{ galeria.texto }}</h6><hr style="border-bottom:1px solid orange">
            <br /><br />
             {% endfor %}
        <hr>Fim das fotos da galeria nova. a antiga está abaixo<hr>
             {% for galeria in fotos %}
               
                 <h5 class="header">{{ galeria.titulo }}</a></h5>
            <div class="row">
                  
               
                    <div class="col s2 m2">
                      <div class="card">
                        <div class="card-image">
                          <img class="materialboxed" src="{{ galeria.imagen1.url }}">
                        </div>
                      </div>
                    </div>
                    
                    <div class="col s2 m2">
                      <div class="card">
                        <div class="card-image">
                          <img class="materialboxed" src="{{ galeria.imagen2.url }}">
                        </div>
                      </div>
                    </div>
                    
                    <div class="col s2 m2">
                      <div class="card">
                        <div class="card-image">
                          <img class="materialboxed" src="{{ galeria.imagen3.url }}">
                        </div>
                      </div>
                    </div>
                    
                    <div class="col s2 m2">
                      <div class="card">
                        <div class="card-image">
                          <img class="materialboxed" src="{{ galeria.imagen4.url }}">
                        </div>
                      </div>
                    </div>
                    
                    <div class="col s2 m2">
                      <div class="card">
                        <div class="card-image">
                          <img class="materialboxed" src="{{ galeria.imagen5.url }}">
                        </div>
                      </div>
                    </div>
                   
                 </div>
               
                 <h6 class="header">{{ galeria.texto }}</h6><hr style="border-bottom:1px solid orange">
            
             {% endfor %}
             
       
<!--fim do conteudo-->

   <br><blockquote>
      <h6>A Pesquisa e o melhor conteudo para desenvolver um bom projeto.</h6><br>
      </blockquote>
  </div><!--section-->
  <br><br>
</div><!--container-->

{% endblock %}

{% block rodape %}
    {% include 'base/footer.html' %}

{% endblock %}